@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: url("/fonts/Vazir.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "yeka";
  src: url("/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: bold;
}
